# Ignore log files
*.log

# Ignore temporary files
temp/
*.tmp

# Ignore user-specific configuration files
.env

# Ignore dataset directories
dataset/
train/
test/

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore Python compiled files
*.pyc

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore PNG images
*.png


# Ignore csv
*.csv

# Commit
